@charset "UTF-8";

/*html*/
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: rgb(0, 0, 0);
}
/*ロゴ*/
.align-center {
    text-align: center;

}
/*ヘッダー*/
.page-header {
    position: relative;
    padding-top: 1.6rem;
}
.logo {
    display: block;
    width: 960px;
    max-width: 100%;
    height: auto;
    margin: 1.6rem auto 0;
}

.page-header.wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 ;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

/* Topタブ */
.top-tab {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: rgba(255,255,255,0.95);
    color: #000;
    padding: .4rem .9rem;
    border-radius: 0 0.5rem 0.5rem 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

/* 商品紹介タイトル */
.page-title {
    text-align: center;
    font-size: 1.6rem;
}
.main-nav a {
    color: #000;
    background-color: rgba(255,255,255,0.95);
    padding: .4rem .9rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}
.main-nav a:hover,
.top-tab:hover {
    color: #0bd;
    background-color: rgba(255,255,255,1);
}

.top-tab:hover {
    color: #0bd;
}
.cover {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
.cover-home {
    background-image: url(../images/logo2.jpeg);
}

.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;
}
.about p {
    margin-bottom: 3rem;
}

/*フッター*/
.page-footer {
    background-image: url(../images/footer-s.webp);
    background-size:  cover;
    background-position: center;
    padding-top: 12rem;
}
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td {
    padding: 1rem 0;
}
.copyright {
    background-color: rgb(9, 109, 0);
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}
@media (min-width: 800px) {
    /* 見出し */
    .page-title {
        font-size: 2.2rem;
    }
    /* ヘッダー */
    .main-nav {
        font-size: 1.4rem;
    }
    .top-tab,
    .main-nav a {
        font-size: 1.4rem;
    }
    .logo {
        max-width: 960px;
    }
    .cover {
        min-height: 100vh;
    }
}
/*HOME*/
.cover-home {
    background-image: url(../wcbcafe/images/logo1.jpeg);
}
.about {
    margin: 4rem auto 0;
}
/*フッター*/
.page-footer {
    background-image: url(../wcbcafe/images/logo2.jpeg);
    padding-top: 12rem;
}
.info th {
    padding-left: 2.5rem;
}